{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-4">Restablecer contraseña</h3>
                        
                        <p class="mb-4">¿Te has olvidado de la contraseña? No pasa nada, mándanos el email que has registrado con la cuenta y te mandamos un enlace para cambiar la contraseña.</p>

                        <form method="post" class="mb-4">
                            {% csrf_token %}
                            
                            {{ form.as_p }}
                            
                            <button type="submit" class="btn btn-success">Mandar email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

