{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="mb-4">¡Enlace enviado con éxito!</h3>
                        
                        <p class="mb-4">
                            Hemos enviado un enlace de restablecimiento de contraseña a tu dirección de correo electrónico.
                            Por favor, sigue las instrucciones en el correo electrónico para completar el proceso.
                        </p>

                        <a href="{% url 'index' %}" class="btn btn-success">Volver a Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
