<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Cine</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <header>
        <nav>
            <ul class="nav bg-info">
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'pelicula_list' %}">Películas</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-light" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li class="nav-item">
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-light" href="{% url 'sign-up' %}">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block content %} {% endblock %}
    </main>
    <footer>
        
    </footer>
</body>

</html>