{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="text-center">
        <h1 class="mb-4">Cine IMMUNE</h1>
        <h4 class="mb-4">Bienvenidos a nuestro cine</h4>
        <p class="mb-4">Aquí puedes reservar plazas para cualquier película de tus favoritos y disfrutar con tus amigos o familiares.</p>
        <button class="btn btn-info btn-lg mb-4">
            <a class="text-decoration-none text-white" href="{% url 'pelicula_list' %}">Películas</a>
        </button>
    </div>

    <div class="mx-auto" style="width: 30%;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ api_1.photo }}" class="d-block w-100" alt="...">
                </div>
                {% for i in api %}
                    <div class="carousel-item">
                        <img src="{{ i.photo }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Posterior</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}
